#root {
  text-align: center;
}

h1.titulo{
  font-size: 48px;
  font-family: Inter;
  line-height: 1.1;
  color: #FFFFFF;
  font-weight: 600;
  margin: 80px auto;
}

input{
  font-family: Inter;
  font-size: 24px;
  text-align: center;
  width: 320px;
  padding: 8px 16px;
  border-radius: 5px;
  color: #1b1b1d;
  border: none;
}

input:focus{
  background-color: #F5F5F5;
  border: #B4BCD6 2px;
  outline: none;
}

label{
  font-family: Inter;
  font-size: 20px;
  color: #FFF
}